
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>

    
.container-wrapper figure {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            text-align: center;
            background-color: bisque;
        }

        .container-wrapper i{
            font-size: 8rem;
            margin-top: 20px;
        }
             .container{
             display: flex;
             justify-content: center;
             position: absolute;
             top: 50%;
             left: 50%;
             transform: translate(-50%, -50%);
         }
         *{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .main-container input, .container-wrapper form p , .signUp button, 
        .container-wrapper button, .container-wrapper select{
            width: 100%;
            margin: 0.2rem 0;
            padding: 0.5rem;
        }
        button a{
            text-decoration: none;
            color: #000;
        }

</style>

    <div class="container">

        <div class="container-wrapper">

            <figure>
                <i class="fas fa-user"></i>
            </figure>
     <h2>
 
         <!-- This is {{ request.user}}'s Profile! -->
     </h2>
     User Name: 
     {{ request.user }}<br>

   Viewing as Guest Mode
   <br>
   <button><a href="/accounts/profile">Back to Accounts Profile</a></button>
     </div>
    </div>

